bin
target
pom.xml.bak
*rebel.xml

# Eclipse
.project
.settings
.classpath
*.iml

# Idea files
.idea/
*.iml
.npmrc

.vscode
types.d.ts
tsconfig.json
webpack.*
node_modules
.driver
package*json
pnpm*
.pnpm*
error-screenshots

**/frontend/generated
**/frontend/index.html
**/pom.xml.versionsBackup
**/.vaadin-node-tasks.lock

vaadin-spreadsheet/errors
*/styles.css
*styles.css

spreadsheet-export.js
vcf-vaadin-spreadsheet-flow-integration-tests/.vaadin-node-tasks.lock
